* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-size: 14px;
  color: #585d68;
  height: 100%;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.navbar-icons-top > a:before {
  content: "";
  position: absolute;
  display: block;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}

.navbar-icons {
  position: relative;
  width: 100px;
  height: 100%;
  background: #1d2531;
}

.navbar-icons-top {
  position: absolute;
  top: 20px;
  left: 20px;
}
.navbar-icons-top > a {
  position: relative;
  display: block;
  margin-bottom: 20px;
  width: 60px;
  height: 60px;
  background-image: url(images/group-1.png);
  background-repeat: no-repeat;
}
.navbar-icons-top > a:before {
  top: 50%;
  left: -20px;
  margin-top: -1.5px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #0af;
  opacity: 0;
}
.navbar-icons-top > a:first-child {
  background-position: 0 0;
}
.navbar-icons-top > a:nth-child(2) {
  background-position: 0 33.3%;
}
.navbar-icons-top > a:nth-child(3) {
  background-position: 0 66.6%;
}
.navbar-icons-top > a:nth-child(4) {
  background-position: 0 100%;
}
