body{
    margin:0;
    padding:0;
}
#outer-box{
    height:1384px;
    width:892px;
    margin:0 auto;
    padding:1px 44px;
    position: relative;
    box-shadow:0px 0 6px rgba(0, 0, 0, 0.678);
}


/*****************************头部***********************/
header{
    margin:0;
    padding:0;
    height:61px;
}

#little-red-box{
    background:rgb(204, 114, 114);
    width:103px;
    height:26px;
    padding-left:10px;
    padding-top:35px;
    float:left;
}

#p1-1{
    font-size:12px;
    display: inline;
    color:white;
}

#little-right-box{
    height:26px;
    padding-right:0px;
    padding-top:35px;
    float:right;
}

#p1-2{
    font-size:12px;
    display: inline;    
    color:#d45d5c;
}

header:after{
    content:"";
    display:block;
    height:2px;
    background:rgb(148, 148, 148);
    width:892px;
    clear:both;
}

/*****************************身体********************/

/*******第一张图片*******/
section{
    padding:30px 0 30px 0;    
    width:892px;
}

section:after{
    content:"";
    display:block;
    clear:both;
    width:0;
    height:0;
}

#middle-big-box article{
    float:left;
}

#family-pic-1{
    padding-right:48px;
    width:641px;
    height:301px;
    position:relative;
}

#left-span{
    background:rgba(31, 214, 61, 0.484);
    width:191px;
    height:301px;
    display: block;
    position:absolute;
    top:0;
    left:0;
}

#right-span{
    background:rgba(214, 31, 55, 0.484);
    width:191px;
    height:301px;
    display: block;
    position:absolute;
    top:0;
    right:48px;
}

/********小三段********/
.paragraphe-top{
    width:200px;
    margin-right:20.5px;
    float:left;
    margin-top:10px;
}

.paragraphe-top h3{
    font-size:16px;
    font-family:"Microsoft YaHei";
}

#h3-1{
    color:green;
}

#h3-1:after{
    height:1px;
    background:green;
    content:"";
    display:block;
    width:50px;
}

#h3-2{
    color:orange;
}

#h3-2:after{
    height:1px;
    background:orange;
    content:"";
    display:block;
    width:50px;
}

#h3-3{
    color:rgb(226, 17, 17);
}

#h3-3:after{
    height:1px;
    background:rgb(226, 17, 17);
    content:"";
    display:block;
    width:50px;
}

.paragraphe-top p{
    font-size:12px;
    text-indent:2em;
    line-height: 20px;
}

.paragraphe-top #p2-1{
    color:#123a12;
}

.paragraphe-top #p2-2{
    color:rgba(85, 22, 8, 0.99);
}

.paragraphe-top #p2-3{
    color:rgba(63, 18, 18, 0.99);
}

/******************top right box******************/

#top-right-box{
    float:right;
    width:203px;
    height:301px;
    border-top:2px #cc8091 solid;
}

.top-left-1{
    font-family:"Microsoft YaHei";
    font-size:18px;
    text-decoration:underline;
    color:black;
    margin:0;
    padding:10px 0 0;
    letter-spacing:3px;
}

.firstletter{
    font-size:1.5em;
}

.top-left-2{
    font-size:12px;
    color:#676767;
    padding:10px 0;
    margin:0;
    padding:0;
}

.top-left-3{
    font-size:116px;
    padding:0;
    margin:-15px 0;
    color:rgb(124, 236, 110);
    font-style:italic;
}
.top-left-4{
    font-size:55px;
    font-family:Arial, Helvetica, sans-serif;
    color:#cc8091;
    margin:0;
    padding:0;
    float:left;
}

.top-left-5{
    font-size:21px;
    color:#cc8099;
    margin:0;
    padding:0;
}
.top-left-6{
    font-size:11px;
    color:#969595;
    margin:0;
    padding:0;
}

#text{
    padding-top:10px;
}

/*****************************bottom big box******************/

/**********left title**********/
#left-article-title{
    margin-bottom:20px;
}

#bottom-left-article{
    width:415px;
    margin-right:19px;
    float:left;
}
#bottom-right-article{
    width:458px;
    float:right;
}

#bottom-left-article h3{
    font-size:42px;
    color:#11456b;
    margin:0;
    padding:0;
    padding-bottom:20px;
}

#bottom-left-article .firstletter{
    color:#f5e327;
    font-style:italic;
    margin-right:20px;
}
#bottom-left-article h3 p{
    font-size:26px;
    margin:0;
    padding:0;
}

#bottom-left-article div{
    border-bottom:2px #11456b solid;
}

/*************left article********/

.left-para{
    text-indent:2em;
    font-size:12px;
    color:#767777;
}

.left-para img{
    float:right;
    padding:19px 0 19px 19px;
}

/*********************right top box*****************/
#bottom-right-top{
    position:relative;
    width:458px;
    height:275px;
    margin-top:15px;
    margin-bottom:30px;
}
/*#span-1{
    width:458px;
    height:214px;
    display:block;
    position:absolute;
    top:0;
    left:0;
    background:rgba(117, 115, 115, 0.404);
}
*/

#bottom-right-top div{
    width:458px;
    height:61px;
    display:block;
    position:absolute;
    bottom:0;
    left:0;
    background:rgba(26, 25, 25, 0.863);
}

#bottom-right-top div:before{
    display:block;
    content:"";
    float:left;
    height:44px;
    width:3px;
    background:rgba(0, 128, 0, 0.788);
    margin-left:40px;
    margin-right:15px;
    margin-top:9px;
}

#bottom-right-top div h3{
    float:left;
    font-size:26px;
    color:white;
    margin-top:12px;
    padding:0;
    font-weight:normal;
    margin-right:7px;
}

#bottom-right-top div h4{
    float:left;
    font-size:12px;
    color:#72b16a;
    font-weight:normal;
    margin-top:30px;
    font-style:italic;
    letter-spacing:140%;
}

/******************right bottom*************/
#bottom-right-bottom{
    background:rgba(197, 193, 193, 0.479);
    width:439px;
    height:338px;
    padding-right:20px;
}

#bottom-three-line{
    padding:5px 15px 25px 25px;
}

#big-red-box{
    background:rgb(204, 114, 114);
    height:110px;
    width:220px;
    float:left;
    margin-right:20px;
    padding:20px;
    padding-top:30px;
    
}

#last-para{
    font-size:14px;
    color:#5a5b5b;
}

.firstletter1, .firstletter2{
    font-size:72px;
    color:#d45d5c;
    font-family:"SimHei";
    font-style:italic;
}
.firstletter1{
    float:left;
    padding:0;
    margin:0;
    margin-left:-50px;
    margin-right:15px;
    margin-bottom:-50px;
}
.firstletter2{
    float:right;
    margin-right:-15px;
    margin-top:-40px;
}


/**************最后一篇***************/
#bottom-three-line p:before{
    content:"";
    display:block;
    margin-right:10px;
    margin-top:8px;
    float:left;
    border:5px solid;
    border-color:transparent transparent blue transparent;
}

#bottom-three-line p{
    font-size:14px;
    line-height:30px;
}

#big-red-box span{
    color:white;
    font-size:72px;
    display:block;
    float:left;
}

#big-red-box p{
    color:white;
    font-size:16px;
}

#big-red-box div:before{
    content:"";
    width:3px;
    height:68px;
    display:block;
    float:left;
    background:white;
    margin-right:10px;
    margin-left:10px;
}
/***********************footer********************/
footer{
    border-top:1px solid #938e8c;
    height:41px;
    width:892px;
    position:absolute;
    left:44px;
    bottom:0;

}